.table {
    position: absolute;
    top: 80%;
    left: 30%
}

.tables {
    position: absolute;
    top: 80%;
    left: 75%;
    width: 200px;
    text-align: center;
    border: 1px solid black;
    padding: 40px
}

.picture {
    position: absolute;
    top: 5%;
    left: 20%;
}

.main {
    position: absolute;
    top: 160%;
    left: -10%;
}

h1 {
    position: absolute;
    top: 140%;
    left: -5%;
}

.search {
    position: absolute;
    top: 165%;
    left: 0%;
}

.select {
    position: absolute;
    left: 50%;
}

.patient {
    position: absolute;
    left: 46%;
}

.bottom {
    position: absolute;
    top: 120%;
    left: -10%;
}

.calendar {
    background-color: white;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.calendar .dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #1caff6;
    text-align: center;
    font-size: 14pt;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    width: 160px;
    left: 0px;
    z-index: 2000;
}

.calendar .dropdown .dropdown-item {
    cursor: pointer;
    opacity: .7;
    transition: .5s opacity;
}

.calendar .dropdown .dropdown-item:hover {
    opacity: 1;
}

.calendar .years {
    display: none;
}

.calendar .title {
    text-align: center;
    font-size: 20pt;
}

.calendar .calendar-btn {
    float: left;
    background-color: #24aeff;
    color: white;
    text-align: center;
    font-size: 14pt;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    width: 20%;
    cursor: pointer;
    transition: .5s background-color;
}

.calendar .calendar-btn:hover {
    background-color: #1f71a1;
}

.calendar .year-btn {
    float: right;
}

.calendar .calendar-dates .days .day {
    float: left;
    width: 9%;
    margin: 1%;
    padding: 1%;
    font-size: 7pt;
    text-align: center;
    border-radius: 10px;
    border: solid 1px #ddd;
}

.calendar .calendar-dates .days .day.blank {
    background-color: white;
    border: none;
}

.calendar .calendar-dates .days .day.selected {
    background-color: #1caff6;
    color: white;
    cursor: pointer;
    opacity: .5;
    transition: .5s opacity;
}

.calendar .calendar-dates .days .day.selected:hover {
    opacity: 1;
}

.calendar .calendar-dates .days .day.label {
    height: 40px;
    background-color: white;
    color: black;
    border: none;
    font-weight: bold;
}

.clear {
    clear: both;
}